h3 {
    font-size: 25px;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name:example ;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 100px rgb(255, 0, 0);}
    to{box-shadow: 1px 1px 100px rgb(34, 232, 8);}
  
}